auth_enabled: false

server:
  http_listen_port: 3100

common:
  instance_addr: 127.0.0.1
  path_prefix: /loki
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

compactor:
  working_directory: /loki/boltdb-shipper-compactor
  delete_request_store: filesystem    # <--- ADD THIS LINE
  retention_enabled: true             # <--- This is the switch that enables deletion
  retention_delete_delay: 2h          # Safety buffer before permanent delete
  retention_delete_worker_count: 150
# ==========================================

limits_config:
  # NOTE: Data Retention is set to 7 days.
  retention_period: 168h   # This is 7 days (Good!)
  ingestion_rate_mb: 4
  ingestion_burst_size_mb: 6
  max_streams_per_user: 10000
  max_line_size: 256000

ruler:
  alertmanager_url: http://localhost:9093